@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Content of Course">
    <meta name="author" content="Katebt elmot">
    <title>@ViewData["Title"] - E_Learning</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />


    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:800|Roboto:400,500,700&display=swap" rel="stylesheet">

    <!-- FontAwesome JS-->
    <script defer src="~/assets/fontawesome/js/all.min.js"></script>

    <!-- Theme CSS -->
    <link id="theme-style" rel="stylesheet" href="~/assets/css/theme.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <!-- Brand on the left -->
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">Khod Course</a>

                <!-- Toggler for mobile view -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Centered content -->
                <div class="collapse navbar-collapse justify-content-between" id="navbarContent">
                    <!-- Left-side navigation -->
                    <ul class="navbar-nav mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Categories</a>
                        </li>
                    </ul>

                    <!-- Centered search bar -->
                    <form method="get" asp-area="Search" asp-controller="Search" asp-action="Search" class="d-flex mx-auto" style="max-width: 600px; width: 100%;">
                        <input class="form-control" type="search" placeholder="Search for anything" aria-label="Search" name="query" value="@ViewBag.Query" style="border-radius: 20px;">
                    </form>

                    <!-- Right-side icons and buttons -->
                    <ul class="navbar-nav mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314" />
                                </svg>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="Payment" asp-controller="Cart" asp-action="Index">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
                                    <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l1.313 7h8.17l1.313-7zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2" />
                                </svg>
                            </a>
                        </li>

                        @if (User.Identity.IsAuthenticated)
                        {
                            <!-- Logged in view -->

                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    <i class="bi bi-bell"></i>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    <i class="bi bi-person"></i>
                                </a>
                            </li>
                        }
                        else
                        {
                            <!-- Logged out view -->

                            <li class="nav-item">
                                <a class="btn btn-primary" asp-area="Authentication" asp-controller="Account" asp-action="ShowLogin">Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="btn btn-primary" asp-area="Authentication" asp-controller="Account" asp-action="Register">Sign up</a>
                            </li>

                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>


  @*   <div class="container">
    <main role="main" class="pb-5"> *@
        @RenderBody()
   @*  </main>
    </div>  *@

    
   

    @* </div> *@
    <!-- End of .container -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
