





<div class="card-columns">
    <a asp-area="Admin" asp-controller="Admin" asp-action="Users" >
    <div class="card bg-primary">
        <div class="card-body text-center">
            <p class="card-text">Users</p>
        </div>
    </div>
    </a>
    <br />
    <a asp-area="Admin" asp-controller="Courses" asp-action="Index" >
    <div class="card bg-warning">
        <div class="card-body text-center">
            <p class="card-text">Courses</p>
        </div>
    </div>
    </a>

</div>